@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
   font-family: $font-main;
   background-color: $dark;
   color: $white;
   font-size: 16px;
}

a {
   color: $white;
   &:hover {
      color: $accent;
   }
}

.container {
   margin: 0px auto;
   padding: 0px 15px;
   width: 1140px;
}

.text-right {
   text-align: right;
}